{% load static %}

	{% include "SETA_gophish/base.html" %}

	<div class="main">	
	
	<h1><img src="{% static "logo.png" %}" alt="SETAphish">Welcome to SETAsurveys</h1>
	
	<h2>Survey template list</h2>
	
	{% if error_msg %}
	
		<p class="warning"><i class="fa fa-exclamation-triangle fa-lg"></i> KO! We were unable to retrieve the Surveys list</p>
		<p>Reason for that: {{ error_msg }}</p>		
		<p><a class="pure-button button-orange" href="{% url 'SETA_surveys:list_surveys' %}"><i class="fa fa-backward fa-lg"></i> Go back to survey list</a></p>
	
	{% elif surveys %}

		<p class="success"><i class="fa fa-check-circle fa-lg"></i> Survey list retrieved successfully!</p>
		<table class="pure-table pure-table-horizontal">
			<thead>
			<tr>
				<th>Survey ID</th>
				<th>Name</th>
				<th>Template creation date (GMT)</th>
				<th>Details</th>
				<th>Remove</th>
				
				
			</tr>
			</thead>
			<tbody>
			{% for survey in surveys %}
				<tr>
					<th>{{ survey.id }}</th> 
					<th>{{ survey.survey_name }}</th>
					<th>{{ survey.date }}</th>
					<th><a class="pure-button button-green" href="{% url 'SETA_surveys:get_detail_survey' survey.id %}"><i class="fa fa-info-circle fa-lg"></i> +info</a></th>
					<th><a class="pure-button button-maroon" href="{% url 'SETA_surveys:remove_survey' survey.id %}" 
					onclick="return confirm('This action cannot be undone. Make sure the template is not being used in an active training. Remove anyway?')"><i class="fa fa-trash fa-lg"></i></a></th>
				</tr>
			{% endfor %}	
			</tbody>
		</table>
		
	{% else %}
	
		<p class="warning"><i class="fa fa-exclamation-triangle fa-lg"></i> No target groups defined yet!</p>
	
	{% endif%}
		
	<p><a class="pure-button button-blue" href="{% url 'SETA_surveys:index2' %}"><i class="fa fa-undo fa-lg"></i> Go back to main page</a></p>	
	</div>
	
	{% include "SETA_gophish/footer.html" %}
		
  </body>
</html>
