{% load static %}

{% include "SETA_gophish/base.html" %}

<div class="main">	
<h1><img src="{% static "logo.png" %}" alt="SETAphish"></h1>
<h2>About the author</h2>

<p><strong>VeraPish</strong> is a web app developed by myself <a href="mailto:osc.iglesias@gmail.com">(Óscar Iglesias)</a> 
in the context of an Universitary Information Security Master of Science End of Degree project 
at <a href="https://www.unir.net/">UNIR</a> in Spain.</p>

<p>I am an Electrical engineer working for many years in telecommunication operators. Lately, as a Cybersecurity 
Product Manager in Vodafone Spain. You can check my LinkedIn profile in 
<a href="https://www.linkedin.com/in/osciglesias/?locale=en_US">here</a>.</p>

<p>Perfectly aware of the fact that I am not an outstanding developer, but I thought companies could take 
advantage of this web application easily. Also perhaps someone else wants to build anything much better on top of 
that, so I decided to license it as MIT (free to use and modify).</p>

<p>Will be more than happy to hear from you in case you use my contribution or leverage on it somehow, 
through any of the above commented channels.</p>

<p>Enjoy it and take care!</p>

<p>Óscar Iglesias.</p>

</div>

{% include "SETA_gophish/footer.html" %}

</body>
</html>
