{% load static %}

{% include "SETA_gophish/base.html" %}

<div class="main">

<h1><img src="{% static "logo.png" %}" alt="SETAphish">Welcome to SETAphish</h1>
<h2>Please, log in</h2>

<form method="POST">
	{{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="pure-button button-green">Login</button>
</form>

{% comment %}
<hr/>
<p><a href="{% url 'user_register' %}">Register</a></p> #}
{% endcomment %}

</div>

{% include "SETA_gophish/footer.html" %}

</body>
